<div id='pitch'>
   <img id='avatar' src="/keith.mcdonnell.jpg"/>
   
   <h1>
      Hi! I&apos;m <a href="/"><em>Keith McDonnell</em></a>.
      
      I've been working for 10 years in the software industry, developing in 
      Ruby since 2006. I'm passionate about Ruby, Rails & agile development.
   </h1>
      
   <p>
      I've built software &amp; teams for MoneySpyder, Clash Media, 
      WhiteLabelDating, CareerMee &amp; Plazes. Here's my <a href="/keith.mcdonnell.pdf">
      CV (or resume)</a>.
   </p>
   
   <p>
      You can find <a href="http://github.com/kmcd">my open source work</a> 
      on github.
   </p>
   
   <p>My daily rate is &pound;350 ($570).</p>
   
   <p class='call_to_action'>
      Email <a href="mailto:<%= email_address %>"><%= email_address %></a> or
      phone + 44 77 4955 7230 to find out when we can start working together.
   </p>
</div>
