<img src="images/keith.mcdonnell.jpg"/>

<h1>
   Welcome to <em>Keith McDonnell</em>'s articles about Ruby, Ruby on Rails, Software development, Project management and Algorithms. 
</h1>

<h2>
   If you want to get in touch, you can contact me on my mobile: 353 87 127 3927, on skype: keithmmcdonnell, or by email <%= auto_link "keith@dancingtext.com" %>
</h2>

<ol id="articles">
   <% @articles.each do |a| %>
   <%# FIXME: There must be a more elegant way to add the format %>
   <li>
      <%= link_to a.title, article_path(a) + ".html" %> 
      <span>
         specifies paragraphs with a bold and italic Times or serif font with a size of 12 points and a line height of 14 points.
      </span>
   </li>
   <% end %>
</ol>
