/* Layout */

body { max-width: 800px; margin: 1.6em; }
p.comments { margin-top: 4em; }
p.copyright { margin-top: 1.6em; }

.index img { float: right; }
.index ol#articles { padding: 0; letter-spacing: 1px; list-style: none; }
.index ol#articles li { margin-bottom: 0.6em; }
.index a { text-decoration: none; }
.index a:hover { text-decoration: underline; }
.index h1, .index h2 { width: 80%; }
.index h2 { padding: 2.5px 5px; margin-top: 1.6em; }
.index h2 tr td:first-child { padding-right: 1.6em; }
.index h3 { margin-top: 1.6em; }

.show p.author {  margin-bottom: 2.4em; }
.show h2 { margin-top: 1.6em; }

/* Typography */

body, body * { font: normal normal 11pt/1.6em verdana,sans-serif; }
pre,code { font-family: monospace; }
h1 em, .show h1 { font-size: 1.6em; line-height: 1em; }

.show h2, .index h3 { font-size: 1.21em; }
.show h1+p, .show h1+p * { font-style: italic; }
.show .content em, .show p.comments, .show p.comments *, p.copyright, p.copyright * { font-style: italic; }

/* Color */

body { color: dimgray; }
pre,code, strong { color: black; }

.index img { border: thin solid silver; }
.index em { color: black; }
.index h2 { color: black; background-color: rgb(255, 255, 155); }
.index h2 tr td:first-child { color: gray; }

.show h1, .show h2, h3 { color: black; }
