/* Layout */
.index { margin: 1.6em auto; width: 950px; }
.index > * { padding: 0 19%; }
.index h1 { margin: 0; }

.show { margin: 0 auto; width: 61.2%; }
.show .content { margin-top: 2.4em; }
.show .comments {  margin-top: 2.4em; }
.show pre { padding-left: 1.6em; }

.landing_page { margin: 9% auto; width: 950px; }
.landing_page > * { padding: 0 19%; }

p.copyright { margin: 4em 0 ; }
img#avatar { padding: 0; float: right; margin-left: 1.6em; }
#call2action { padding: 0.6em 19%; padding-right: 33%; margin: 2.4em 0; }
#articles { margin-top: 2.4em; }
#articles li { margin: 1em 0; }

/* Typography */
.index #articles { list-style-type: none; }
.index #articles a { font-size: 12pt; }
.index #articles a, .index #call2action a  { text-decoration: none; }
.index #articles a:hover, .index #call2action a:hover { text-decoration: underline; }
.index #articles li span { font-style: italic; }

.show .author { font-style: italic; }
.show h1, .show h2 { font-weight: normal; }
.show h1 { line-height: 1.18em; }
.show h2 { margin-top: 1.6em; }
.show p.copyright { margin-top: 0; }
.show img { width: 100%; }

body { font: normal normal 10pt/1.6em verdana, sans-serif; }
h1 { font-size: 1em; font-weight: normal; }
h1 em { font-size: 2.4em; font-style: normal; letter-spacing: -2px;}

/* Color */
.index { color: gray; }
.index #call2action, .index h1 em { color: black; }
.index #call2action { background-color: rgb(255, 255, 175); }
.index #avatar { border: thin solid silver; }
.index #articles span { color: silver; }

.show .author { color: gray; }
.show .comments, .show .copyright { color: gray; }
.show pre { border-left: thin dotted silver; }

.landing_page { color: gray; }
.landing_page .call_to_action { 
   color: black; 
   background-color: lemonchiffon; 
   width: 70%;
   padding: 1em; 
   box-shadow: 5px 5px 5px #ccc;
   -moz-box-shadow: 5px 5px 5px #ccc;
   -webkit-box-shadow: 5px 5px 5px #ccc;

}

pre, code { color: navy; }

